<%= flash[:notice] %>

<%= link_to 'Create Rule', new_rule_path,  {:remote => true, 'data-toggle' =>  'modal', 'data-target' => '#modal-window', class: 'btn btn-primary btn-lg', id:'modal-button'}  %>

<%= form_tag import_rules_path, multipart: true do %>
  <%= file_field_tag :file %>
  <%= submit_tag "Import SKUs" %>
<% end %>

<%= link_to 'Send Prices to CSV', rules_path(format: :csv), class: 'btn btn-primary btn-lg' %>

<% @rules.each do |rule| %>
  <% rule.attributes.each do |attr_name, attr_value| %>
    <% if attr_value != "" %>
    <p>
      <%= attr_name %>: <%= attr_value %>
      <% end %>
    </p>
    <% end %>
    <hr>
<% end %>

<div id='modal-window' class='modal hide fade' role='dialog' aria-labelledby='myModalLabel' aria-hidden='true'>
  <div class='modal-dialog' role='document'>
    <div class='modal-content'></div>
  </div>
</div>
